.sel-lang-id-dropbtn {
    background-color: #717171;
    color: white;
    padding: 4px 8px;
    font-size: large;
    border: none;
    margin: 0px;
  }
  
  .sel-lang-id-dropdown {
    position: relative;
    display: inline-block;
    background-color: brown;
    height: 29px;
  }
  
  .sel-lang-id-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(-80%, -29px);
  }
  
  .sel-lang-id-dropdown-content button {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
    border: 0px solid;
    font-size: large;
    margin: 0px auto;
  }
  
  .sel-lang-id-dropdown-content button:hover {background-color: #ddd;}

  .sel-lang-id-dropdown:hover .sel-lang-id-dropdown-content {display: block;}
  
  .sel-lang-id-dropdown:hover .sel-lang-id-dropbtn {background-color: #5d5d5d;}