.top-part {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: fixed;
    width: 100%;
    display: block;
    height: 56px;
    z-index: 1;
    padding: 0px 16px;
}

.body-part {
    background-color: #954669;
    border-bottom: 1px solid #954669;
    top: 56px;
    width: 100%;
    height: 100%;
    position: fixed;
}

.left-part {
    background-color: #469569;
    border-bottom: 1px solid #469569;
    top: 56px;
    left: 0px;
    width: 168px;
    height: 100%;
    position: fixed;
    padding-left: 16px;
}

.right-part {
    background-color: #954669;
    border-bottom: 1px solid #954669;
    top: 56px;
    left: 168px;
    width: calc(100% - 168px);;
    position: relative;
    overflow-y:auto;
}

.menu {
    flex-direction: column;
    display: flex;
}

.menu-btn {
    flex: 1;
    margin: 8px 16px 0px 0px;
}

.test {
    overflow-y:auto;
}

.bottom-part {
    display: block;
    position:relative;
    height: 50px;
}