.text-templates {
  margin: 10px 10px 0px;
  padding: 7px;
  border: 1px solid black;
  border-bottom: 0px;
}

.text-templates span {
  display: inline-block;
  padding: 1px;
}

.template-guide {
  margin: 0px 10px auto;
  padding: 7px;
  border: 1px solid black;
}